@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.spin {
  animation: spin_1013 2.5s linear infinite;
  transform-origin: 50% 50%;
  position: relative;
  padding-top: 0;
}
@keyframes spin_1013 {
  0% { transform:rotate(0deg) }
  60% { transform:rotate(359deg) }
  100% { transform:rotate(359deg) }
}		
.vertical {
  animation: vertical_8738 3.44s ease infinite;
  transform-origin: 50% 50%;
  margin-top: 55px;
}
@keyframes vertical_8738 {
  0% { transform:translate(0,-3px) }
  2.32558% { transform:translate(0,3px) }
  4.65116% { transform:translate(0,-3px) }
  6.97674% { transform:translate(0,3px) }
  9.30233% { transform:translate(0,-3px) }
  11.62791% { transform:translate(0,3px) }
  12.7907% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}	
.bg {
    background-color: rgba(0,0,0,0.3);
}
.progress-bar {
	background-color: rgba(0,0,0,0.5);
}
* {
	margin: 0;
	padding: 0;
}
.center {
	width: center;
	height: center;
}
.loading {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff
}
.progress {
	height: 40px
}
.progress-bar {
	height: 100%
}

.back-bg {
	min-width:100%;
	min-height:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
}
.back-bg IMG {
	width: 100%;
	height: 100%;
	position: absolute;
}
#title {
	font-size: 80px;
	margin-left: 12px;
}

#title img {
  animation: vertical_8738 3.44s ease infinite;
  transform-origin: 50% 50%;
  margin-top: 55px;
}

#gamemode, #map {
	font-weight: bold;
}

#status-container {
	position: relative;
	height: 0;
	width: 100%;
	top: 50%;
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	line-height: 18px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#loading {
	display: inline-block;
	width: 80%;
	height: 4px;
	margin-top: 50px;
	background-color: rgba(255,255,255,0.5);
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#loading-progress {
	height: 100%; width: 0%;
	background-color: white;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#messages {
	display: none;
	margin-top: 20px;
	font-size: 18px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#subtitle {
	margin-left: 38px;
	position: fixed;
	bottom: 0px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;

}

#music {
	position: relative;
	margin: 12px;
	display: none;
	line-height: 24px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#music-name {
	position: relative;
	font-weight: bold;
	left: 14px;
	margin-top: 6px;
    color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

#overlay {
	position: fixed;
	left: 0px; top: 0px;
	width: 100%; height: 100%;
	z-index: -1;
	background-repeat: repeat;
}