.spin {
  animation: spin_1013 2.5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes spin_1013 {
  0% { transform:rotate(0deg) }
  60% { transform:rotate(359deg) }
  100% { transform:rotate(359deg) }
}		
.vertical {
  animation: vertical_8738 3.44s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes vertical_8738 {
  0% { transform:translate(0,-3px) }
  2.32558% { transform:translate(0,3px) }
  4.65116% { transform:translate(0,-3px) }
  6.97674% { transform:translate(0,3px) }
  9.30233% { transform:translate(0,-3px) }
  11.62791% { transform:translate(0,3px) }
  12.7907% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}	
.bg {
    background-color: rgba(0,0,0,0.3);
}
.progress-bar {
	background-color: rgba(0,0,0,0.5);
}
* {
	margin: 0;
	padding: 0;
}
.center {
	width: center;
	height: center;
}
.loading {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff
}
.progress {
	height: 40px
}
.progress-bar {
	height: 100%
}

.back-bg {
	min-width:100%;
	min-height:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
}
.back-bg IMG {
	width: 100%;
	height: 100%;
	position: absolute;
}
